
<footer class="hidden-xs">
    <div class="col-xs-12 container footer">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-inline">
                    <li><p class="copyright text-muted small">EmpresasT 2014. </p>
                    </li>
                    <li><a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="#about">About</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="design-footer col-xs-4 background-blue"></div>
                <div class="design-footer col-xs-4 background-green"></div>
                <div class="design-footer col-xs-4 background-orange"></div>
            </div>
        </div>
    </div>
</footer>