
<div class="col-xs-12 text-center">
    <img src="./images/studia_intro.jpg"  class="img-rounded" alt="Responsive image" style="max-width: 40%; height: auto;" >
</div>
<div class="col-xs-12 ">
    <hr width="100%">
    <ul class="nav nav-pills nav-justified ">
        <li ng-repeat="faculty in facultyes">
            <a id="{{faculty.id}}" class="text-green"
               ng-click="facultySelected(faculty.id, faculty.careers)">{{faculty.name}}</a>
        </li>
    </ul>
    <hr width="100%">

    <div id="listOfCareers" >
        <ul class="nav nav-pills nav-justified ">
            <li ng-repeat="career in careers">
                <a class="text-blue" ng-href="#faculty/teachers?career={{career}}" >{{career}}</a>
            </li>
        </ul>
    </div>
</div>

