
<nav class="navbar navbar-default" role="navigation"  ng-init="loadFacultys()">
    <div class="container-fluid">
        <h4 class="navbar-text">{{title}}</h4>
        <button id="buttonReturn" type="button" class="btn btn-default navbar-btn"  ng-click="showmenu()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{option}}
        </button>
    </div>
</nav>

<div class="col-xs-12" >
    <div id="menu" class="page center">
        <div id="menuList" class="list-group">
            <div  class="" ng-repeat="faculty in facultys">
                <div class="list-group-item active" >{{faculty.nameFaculty}}</div>
                <div ng-repeat="career in faculty.career" ng-click="selectedCareer(faculty._id,career._id)" class="list-group-item">
                    {{career.nameCareer}}
                </div>
            </div>
        </div>
    </div>

    <div id="body" class="page right" >
        <div id="bodyList" class="list-group">
            <div  class="table-view" ng-repeat="c in course">
                <div class="list-group-item active" >{{c.nameCourse}}</div>
                <div ng-repeat="subject in c.subjects" ng-click="selectSubject(subject.nameSubject,subject.files)" class="list-group-item">
                    {{subject.nameSubject + '  -  ' + subject.professor}}
                </div>
            </div>
        </div>
    </div>

    <div id="menuDownload" class="menu hidden">
        <div class="col-xs-12">
            <button type="button" class="close" ng-click="closeMenu()">
                <span aria-hidden="true">&times;</span><span class="sr-only">
                </span>
            </button>
            <h3 class="menu-item">Archivos de {{titleSubject}}</h3>
        </div>
        <div class="col-xs-12">
            <ul>
                <li class="menu-item" ng-repeat="file in files" >
                    <a class="navigate-right" ng-click="redirect(file.link)">
                        <span class="media-object pull-left icon icon-download"></span>
                        <div class="media-body">
                            {{file.name }}
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>