
<div class="col-xs-12"  ng-init="loadTeachers()">

    <div class="page-header hidden-xs ">
        <h1>Docentes de: <small>{{title}}</small></h1>
    </div>

    <div id="alertNoTeachers" class="jumbotron hidden">
        <h1 class="text-red">Ops! :( </h1>
        <p>Ning&uacute;n docente de esta carrera subio archivos a&uacute;n.</p>
    </div>

    <!-----------------------------------------------------Search--------------------------------------------->
    <div id="search" class="col-xs-12 margin-top">
        <div class="form-group ">
            <div class="input-group">
                <span  class="input-group-addon glyphicon glyphicon-search"></span>
                <input type="text" id="searchBox" class="form-control" ng-model="filterTeachers" placeholder="Buscar Docente..."  />
            </div>
        </div>
    </div>


    <!-----------------------------------------------------List of teachers and files--------------------------------------------->

    <div class="col-xs-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="teacher in teachers | filter:filterTeachers">
                <div class="panel-heading label-orange">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#{{teacher._id}}">
                        <b>{{teacher.name}}</b> {{+" - "+ teacher.nameSubject}}
                    </h4>
                </div>
                <div id="{{teacher._id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="list-group ">
                            <a class="list-group-item label-blue" data-toggle="modal" data-target="#download"
                               ng-repeat="file in teacher.files"
                               ng-click="changeName(file.nameFile)"
                               style="margin-bottom: 2px">
                                {{file.nameFile}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--  Form to save files of the student -->
<div class="modal fade" id="download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn btn-danger btn-xs" data-dismiss="modal" >
                    <span class="text-danger glyphicon glyphicon-remove"></span>
                </button>
                <h3 class="modal-title text-orange" id="myModalLabel">{{fileSelected}}</h3>
            </div>
            <div class="modal-body">
                <form role="form"  class="form" name="form" ng-submit="download(form)" novalidate>
                    <div class="form-group">
                        <label for="cuBox">C.U.:</label>
                        <input type="text" class="form-control" id="cuBox" ng-model="student.cu" placeholder="35-5666" required />
                    </div>
                    <div class="form-group">
                        <label for="nameBox">Nombre completo:</label>
                        <input type="text" class="form-control" id="nameBox" ng-model="student.name" placeholder="Juan Perez" required />
                    </div>
                    <div class="form-group">
                        <label for="numberBox">Linea Tigo Money:</label>
                        <input type="number" class="form-control" id="numberBox" ng-model="student.phoneNumber" placeholder="76666666" required />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-disabled="true" ng-checked="true"> Pago con Tigo Money
                        </label>
                    </div>

                    <div id="alertWrongDates" class="alert alert-warning hidden" role="alert"><b>Error!</b> Datos Incorrectos.</div>
                    <div id="alertDontSave" class="alert alert-danger hidden" role="alert"><b>Ops!</b> Ocurrio un error, vuelve a intentarlo</div>

                    <button type="submit" class="btn btn-default label-green text-green center-block"><b>Descargar</b></button>
                </form>
            </div>
        </div>
    </div>
</div>