<!DOCTYPE html>
<html ng-app="studyaAPP">
<head lang="en">

    <meta  content="charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="/styles/main.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/libs/ratchet-v2.0.2/css/ratchet.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/libs/ratchet-v2.0.2/css/ratchet.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/libs/ratchet-v2.0.2/css/ratchet-theme-android.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/libs/ratchet-v2.0.2/css/ratchet-theme-android.min.css" media="all"/>

    <script  type="text/javascript" src="libs/ratchet-v2.0.2/js/ratchet.min.js"></script>
    <script  type="text/javascript" src="libs/ratchet-v2.0.2/js/ratchet.js"></script>
    <script  type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script  type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script  type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script  type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script  type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script  type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script  type="application/x-javascript" src="/js/app.js"></script>
    <script  type="text/javascript" src="/js/controllers/movileCtrl.js"></script>
    <script  type="text/javascript" src="/js/services/careers.js"></script>
    <script  type="text/javascript" src="/js/services/subject.js"></script>

    <title>Empresas T</title>
</head>

<body>
    <div ng-view=""></div>
</body>
</html>